<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FuBu.com</title>
    <link rel="stylesheet" href="Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="Vendor/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="Vendor/bootstrap.min.js"></script>
    <script src="Vendor/angular.min.js"></script>
</head>
<body ng-app="vehicleInventory">
<div ng-controller="menuCtrl"><!--header section-->
    <nav role="navigation"
         class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">vehicle Inventory</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse
         navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menuItems" ng-click="navigate(item)">
                    <a href="#"><label ng-bind="item.displayName"></label></a>
                </li>

            </ul>
        </div>
    </nav>
    <!--content-->
    <div class="container">
    <!--     <div ng-include="selectedTemplate"></div>-->
        <div ng-controller="registerCtrl">
           <div>
               <pre>{{existingUser | json}}</pre>
           </div>

            <div custom-register
                 header="{{headerLabel}}"
                 fname="existingUser.firstName"
                    lname="existingUser.lastName"
                    email="existingUser.email"
                    date-of-birth="existingUser.dob"
                    user-registration="registerUser()"></div>
        </div>
        <div custom-field></div>
    </div>
    <!--<div class="panel panel-default" custom-click>
        <a href="#">Click me</a>
        <div class="panel-heading"></div>
        <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.</div>
    </div>-->
</div>
    </div>
</div>
<script src="app/app.js"></script>
<script src="app/directives/customParent.js"></script>
<script src="app/directives/customShowHide.js"></script>
<script src="app/directives/customClick.js"></script>
<script src="app/directives/customDatePicker.js"></script>
<script src="app/directives/customRegister.js"></script>
<script src="app/directives/customField.js"></script>
<script src="app/services/menuService.js"></script>
<script src="app/controllers/menuCtrl.js">
</script>
<script src="app/filters/phoneFormatter.js"></script>
<script src="app/services/vehicleService.js"></script>
<script src="app/controllers/vehicleCtrl.js"></script>
<script src="app/controllers/registerCtrl.js"></script>

</body>
</html>